<div class="card" style="width: fit-content; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)">
    <% include modals/update_customer_modal %>
    <% if (customers[i].gender === 'Male') { %>
        <img class="card-img-top" src="/images/user_male.png" alt="Card image" style="width:100%">
    <% } else if (customers[i].gender === 'Female') { %>
        <img class="card-img-top" src="/images/user_female.png" alt="Card image" style="width:100%">
    <% } %>
    <div class="card-body">
        <h5 class="card-title"><%= customers[i].username %></h5>
        <% if (userRole && userRole === 'admin') { %>
            <h6 class="card-subtitle mb-2 text-muted"><%= 'Password: ' + customers[i].password %></h6>
        <% } %>
        <p class="card-text"><%= 'ID: ' + customers[i].id %></p>
        <p class="card-subtitle"><%= 'Phone: ' + customers[i].phone %></p>
        <p class="card-text"><%= 'Address: ' + customers[i].address %></p>
        <% if (userRole && userRole === 'admin') { %>
            <div style="text-align: center;">
                <a id="remove-customer" href="#" class="card-link" style="color: red"
                onclick="removeCustomer(<%= customers[i].id %>)">Remove</a>
                <a onclick="selectCurrentGender('<%= customers[i].id %>', '<%= customers[i].gender %>')" href="#" class="card-link" data-toggle="modal" data-target=<%='#' + customers[i].id %> >Update</a>
            </div>
        <% } %>
    </div>
</div>