<div class="card" style="min-width: 227px; min-height: 427.4px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)">
    <% include modals/update_emp_modal %>
    <% if (employees[i].gender === 'Male' && employees[i].role === 'Admin') { %>
        <img class="card-img-top" src="/images/admin_male.png" alt="Card image" style="width:100%">
    <% } else if (employees[i].gender === 'Male' && employees[i].role === 'Employee') { %>
        <img class="card-img-top" src="/images/user_male.png" alt="Card image" style="width:100%">
    <% } else if (employees[i].gender === 'Female' && employees[i].role === 'Admin') { %>
        <img class="card-img-top" src="/images/admin_female.png" alt="Card image" style="width:100%">
    <% } else if (employees[i].gender === 'Female' && employees[i].role === 'Employee') { %>
        <img class="card-img-top" src="/images/user_female.png" alt="Card image" style="width:100%">
    <% } else { %>
        <img class="card-img-top" src="/images/template.jpg" alt="Card image" style="width:100%">
    <% } %>
    <div class="card-body">
        <h5 class="card-title"><%= employees[i].username %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= employees[i].role %></h6>
        <% if (userRole && userRole === 'Admin') { %>
            <h6 class="card-subtitle mb-2 text-muted"><%= 'Password: ' + employees[i].password %></h6>
        <% } %>
        <p class="card-subtitle"><%= 'Branch: ' + employees[i].branch %></p>
        <p class="card-text"><%= 'ID: ' + employees[i].id %></p>
        <% if (userRole && userRole === 'Admin') { %>
            <div style="text-align: center;">
                <a id="remove-employee" href="#" class="card-link" style="color: red"
                onclick="removeEmployee(<%= employees[i].id %>)">Remove</a>
                <a onclick="selectCurrentDetails('<%= employees[i].id %>', '<%= employees[i].gender %>', '<%= employees[i].role %>')"
                    href="#" class="card-link" data-toggle="modal" data-target=<%='#' + employees[i].id %> >Update</a>
            </div>
        <% } %>
    </div>
</div>