<div class="modal fade" id=<%= employees[i].id %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">				
                    <h4 class="modal-title"><%= 'Update details for ' + employees[i].username %></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <h5 class="modal-dialog"> <%='ID: '+ employees[i].id %> </h5>
                    </div>
                    <div class="md-form mb-4">
                        <input value=<%= employees[i].role %> id=<%="update-emp-role" + employees[i].id %> type="text" class="form-control" placeholder="Role" required="required">					
                    </div>
                    <div class="md-form mb-4">
                        <input value=<%= employees[i].branch %> id=<%="update-emp-branch" + employees[i].id %> type="number" class="form-control" placeholder="Branch number" required="required">					
                    </div>
                    <div class="form-group">
                        <button onclick="update_emp(<%= employees[i].id %>)" id="update-emp-button" class="btn btn-primary btn-block btn-lg">Update</button>
                    </div>
                    <p id=<%="update-emp-err-msg" + employees[i].id %> style="color: red"></p>
                </div>
            </div>
        </div>
    </div>
    